.heading{
    background-color: #CCD5FF;
    color: white;
    text-align: left;
    margin-top: 0px;
}
.heading h2 {
    display:inline;
}

.heading button {
    float: right;
}

.playbtn{
    width: 10%;
    font-size: 20px;
    font-family: fantasy;
    background-color: #4ED5E9 ;
}
#status{
    background-color:#CCD5FF ;
    width: 10%;
    font-size: 20px;
    font-family: fantasy;
    color: #F981A7;
    border-radius: 20px;
}
video{
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
}