.heading {
    background-color: #CCD5FF;
    color: #4ED5E9;
    text-align: left;
    margin-top: 0px;
    text-align: center;
}

canvas{
    border: 5px ridge #4ED5E9;
}

#footer {
    position: sticky;
    background-color: #CCD5FF;
    color: #F981A7;
    text-align: left;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.heading h2 {
    display: inline;
}

.heading button {
    float: right;
}

.playbtn {
    width: 10%;
    font-size: 20px;
    font-family: fantasy;
    background-color: #4ED5E9;
}

.restartbtn {
    width: 10%;
    font-size: 20px;
    font-family: fantasy;
    background-color: #F981A7;
}

#status {
    background-color: #CCD5FF;
    width: 10%;
    font-size: 20px;
    font-family: fantasy;
    color: #F981A7;
    border-radius: 20px;
}



.modal-dialog {
    width: 80%;
}